---
import { Icon } from 'astro-icon';
import { SITE } from '~/config';
---

<footer class="border-t dark:border-yankees-500 dark:bg-yankees-600">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <a class="mt-8 md:mt-12 inline-block font-bold text-xl" href="">RemotENV</a>

    <div class="md:flex md:items-center md:justify-between pb-6 md:pb-8">
      <div class="text-sm dark:text-slate-400">
        <span>Made by</span>
        <a class="hover:underline dark:text-slate-200" href={SITE.links.creator}>DevTobias</a>
        <span>· All rights reserved.</span>
      </div>

      <a class="icon-btn" aria-label="Github" href={SITE.links.repository}>
        <Icon name="tabler:brand-github" class="w-5 h-5" />
      </a>
    </div>
  </div>
</footer>
