<section class="h-full p-7">
  <h1 class="text-4xl font-bold pb-1">Environment Variables Manager</h1>
  <h2 class="dark:text-slate-500">Manage your variables for a specific environment.</h2>
</section>
